<o-form-layout-manager
  title="{{ 'DATA_OF_TRAILERS' | oTranslate }}"
  separator=" "
  mode="dialog"
>
  <o-form-layout-dialog-options
    width="1200px"
    height="700px"
    disable-close="false"
    title="DATA_OF_TRAILER"
  ></o-form-layout-dialog-options>
  <div fxFill fxLayout="column" fxLayoutAlign="start">
    <!-- <div o-form-toolbar-buttons>
      <o-button
        type="RAISED"
        color="primary"
        (click)="exportExcel()"
        attr="fillreport"
        label="Export to Excel"
        icon="cloud_download"
      >
      </o-button>
    </div> -->
    <o-table
      #trailerTable
      attr="trailerTable"
      delete-button="no"
      insert-button="no"
      service="master"
      entity="trailerDataNew"
      keys="id_trailer"
      columns="id_trailer;trailer_plate;viajes_completados;total_carga;viajes_carga;viajes_descarga;total_cargado;total_descargado"
      visible-columns="trailer_plate;viajes_completados;total_carga;viajes_carga;viajes_descarga;total_cargado;total_descargado"
      query-rows="15"
    >
      <o-table-button
        attr="button"
        type="RAISED"
        color="primary"
        label="Export to Excel"
        icon="cloud_download"
        (onClick)="exportExcel()"
      ></o-table-button>

      <o-table-column
        attr="id_trailer"
        title="ID_TRAILER"
        sql-type="INTEGER"
        width="150px"
        content-align="center"
      ></o-table-column>
      <o-table-column
        attr="trailer_plate"
        title="trailer_plate"
        type="string"
        width="150px"
        content-align="center"
      ></o-table-column>
      <o-table-column
        attr="viajes_completados"
        title="viajes_completados"
        type="INTEGER"
        content-align="center"
      ></o-table-column>
      <o-table-column
        attr="total_carga"
        title="total_carga"
        type="real"
        decimal-separator=","
        thousand-separator="."
        max-decimal-digits="0"
        class="o-table-column-centered"
        content-align="center"
      ></o-table-column>
      <o-table-column
        attr="viajes_carga"
        title="viajes_carga"
        type="INTEGER"
        content-align="center"
      ></o-table-column>
      <o-table-column
        attr="viajes_descarga"
        title="viajes_descarga"
        type="INTEGER"
        width="80px"
        content-align="center"
      ></o-table-column>
      <o-table-column
        attr="total_cargado"
        title="total_cargado"
        type="real"
        decimal-separator=","
        thousand-separator="."
        max-decimal-digits="0"
        class="o-table-column-centered"
        content-align="center"
      ></o-table-column>
      <o-table-column
        attr="total_descargado"
        title="total_descargado"
        type="real"
        decimal-separator=","
        thousand-separator="."
        max-decimal-digits="0"
        class="o-table-column-centered"
        content-align="center"
      ></o-table-column>
    </o-table>
  </div>
</o-form-layout-manager>
