<o-form-layout-manager
  title="{{ 'Data of Trailers' | oTranslate }}"
  separator=" "
  mode="dialog"
>
  <div fxFill fxLayout="column" fxLayoutAlign="start">
    <o-table
      attr="trailerTable"
      delete-button="no"
      insert-button="no"
      service="master"
      entity="trailerDataNew"
      keys="id_trailer"
      columns="id_trailer;trailer_plate;viajes_completados;total_carga;viajes_carga;viajes_descarga;total_cargado;total_descargado"
      visible-columns="trailer_plate;viajes_completados;total_carga;viajes_carga;viajes_descarga;total_cargado;total_descargado"
      query-rows="15"
    >
      <o-table-column
        attr="id_trailer"
        title="ID_TRAILER"
        sql-type="INTEGER"
        width="150px"
        content-align="center"
      ></o-table-column>
      <o-table-column
        attr="trailer_plate"
        title="trailer_plate"
        type="string"
        width="150px"
        content-align="center"
      ></o-table-column>
      <o-table-column
          attr="viajes_completados"
          title="Total viajes"
          type="INTEGER"
          content-align="center"
        ></o-table-column>
        <o-table-column
          attr="total_carga"
          title="Total carga transportada"
          type="real"
          decimal-separator=","
          thousand-separator="."
          max-decimal-digits="2"
          class="o-table-column-centered"
          content-align="center"
        ></o-table-column>
        <o-table-column
          attr="viajes_carga"
          title="Nº viajes carga"
          type="INTEGER"
          content-align="center"
        ></o-table-column>
        <o-table-column
          attr="viajes_descarga"
          title="Nº viajes descarga"
          type="INTEGER"
          width="80px"
          content-align="center"
        ></o-table-column>
        <o-table-column
          attr="total_cargado"
          title="Total carga entrada"
          type="real"
          decimal-separator=","
          thousand-separator="."
          max-decimal-digits="2"
          class="o-table-column-centered"
          content-align="center"
        ></o-table-column>
        <o-table-column
          attr="total_descargado"
          title="Total carga salida"
          type="real"
          decimal-separator=","
          thousand-separator="."
          max-decimal-digits="2"
          class="o-table-column-centered"
          content-align="center"
        ></o-table-column>
    </o-table>
  </div>
</o-form-layout-manager>
