<!-- fxLayout="row" layout-padding fxLayoutAlign="center center" -->
<div>
  <o-form show-header="no">
    <o-column-collapsible
      title="{{ 'Entry_Filters' | oTranslate }}"
      appearance="outline"
    >
      <o-row layout-gap="18px">
        <o-column fxFlex="50" title="{{ 'Date' | oTranslate }}">
          <o-date-input
            attr="date_start"
            label="INIT"
            read-only="no"
            required="no"
          ></o-date-input>
          <o-date-input
            attr="date_end"
            label="END"
            read-only="no"
            required="no"
          ></o-date-input>
        </o-column>
      </o-row>
      <o-row layout-align="end" layout-gap="18px">
        <o-button
          attr="filter"
          [oFilterBuilderQuery]="filterBuilder"
          type="RAISED"
          label="FILTER"
          class="filter-button"
        >
        </o-button>
        <o-button
          attr="clear"
          [oFilterBuilderClear]="filterBuilder"
          type="RAISED"
          label="CLEAR"
          class="filter-button"
        >
        </o-button>
      </o-row>
    </o-column-collapsible>

    <o-filter-builder
      #filterBuilder
      attr="theFilter"
      filters="STARTDATE_I:date_start;STARTDATE_E:date_end"
      [target]="table"
      query-on-change="no"
      query-on-change-delay="500"
      [expression-builder]="createFilter"
    ></o-filter-builder>

    <!-- <o-chart
    #graph
    type="linePlusBarWithFocusChart"
    x-label="Tiempo"
    y-label="Entradas"
    service="results"
    chart-height="500"
    entity="scanResultByDate"
    x-axis="date"
    y-axis="conteo"
    [chart-parameters]="chartParameters"
    x-data-type="time"
  ></o-chart> -->
    <h1 class="titulo_graficas">{{'entradacamiones'| oTranslate}}</h1>
    <o-chart
      fxFlex
      #graph
      type="line"
      x-label="Tiempo"
      y-label="Entradas"
      x-axis="date"
      y-axis="conteo"
      [chart-parameters]="chartParameters"
      x-data-type="time"
    >
    </o-chart>

    <!-- {{ 'graph' | oTranslate }} -->

  <div fxFill>
    <o-table #table attr="scanTable" service="scans" entity="scanByDate" insert-button="no" delete-button="no"
      (onDataLoaded)="dataLoaded($event)"
      columns="date;conteo"
      visible-columns="date;conteo"
      query-rows="20" visible="no"
    >
      <!-- <o-table-column attr="PHOTO" title="PHOTO" orderable="no" searchable="no" type="image" avatar="yes"
      empty-image="assets/images/no-image.png" image-type="base64"></o-table-column> -->
      <o-table-column attr="date" type="date" format="DD/MM/YYYY HH:MM" fxFlex="50" content-align="center"></o-table-column>
      <o-table-column attr="conteo" type="number" fxFlex="50" content-align="center"></o-table-column>
      <!-- <o-table-column attr="date" title="date" type="date">{{date | date: 'short'}}</o-table-column> -->
      <!-- <o-table-column attr="id_scan_result" title="ID" width="100px"></o-table-column> -->
    </o-table>
  </div>
  </o-form>
</div>

