<!-- fxLayout="row" layout-padding fxLayoutAlign="center center" -->
<div>
  <o-form show-header="no">
    <o-column-collapsible
      title="{{ 'Entry_Filters' | oTranslate }}"
      appearance="outline"
    >
      <o-row layout-gap="18px">
        <o-column fxFlex="50" title="{{ 'Date' | oTranslate }}">
          <o-date-input
            attr="date_start"
            label="INIT"
            read-only="no"
            required="no"
          ></o-date-input>
          <o-date-input
            attr="date_end"
            label="END"
            read-only="no"
            required="no"
          ></o-date-input>
        </o-column>
      </o-row>
      <o-row layout-align="end" layout-gap="18px">
        <o-button
          attr="filter"
          [oFilterBuilderQuery]="filterBuilder"
          type="RAISED"
          label="FILTER"
          layout-padding
          color="accent"
          class="filter-button"
        >
        </o-button>
        <o-button
          attr="clear"
          [oFilterBuilderClear]="filterBuilder"
          type="RAISED"
          label="CLEAR"
          layout-padding
          color="accent"
          class="filter-button"
        >
        </o-button>
      </o-row>
    </o-column-collapsible>

    <o-filter-builder
      #filterBuilder
      attr="theFilter"
      filters="STARTDATE_I:date_start;STARTDATE_E:date_end"
      [target]="table"
      query-on-change="no"
      query-on-change-delay="500"
      [expression-builder]="createFilter"
    ></o-filter-builder>

    <!-- <o-chart
      #graph
      type="linePlusBarWithFocusChart"
      x-label="Tiempo"
      y-label="Entradas"
      service="results"
      chart-height="500"
      entity="scanResultByDate"
      x-axis="date"
      y-axis="conteo"
      [chart-parameters]="chartParameters"
      x-data-type="time"
    ></o-chart> -->
    <h1 class="titulo_graficas">
      {{ "Volumen de carga diario" | oTranslate }}
    </h1>
    <o-chart
      fxFlex
      #graphvolume
      layout-fill
      type="multiBar"
      x-label="Tiempo"
      y-label="Volumen"
      x-axis="date"
      y-axis="scan_volume_in;scan_volume_out;total_carga"
      [chart-parameters]="chartParameters"
      x-data-type="time"
    >
    </o-chart>

    <div fxFill id="tabla">
      <o-table
        #table
        attr="scanTable"
        service="scans"
        entity="scanLoadVolume"
        insert-button="no"
        delete-button="no"
        (onDataLoaded)="dataLoaded($event)"
        columns="date;volumen_entrada;volumen_salida;balance"
        visible-columns="date;volumen_entrada;volumen_salida;balance"
        query-rows="0"
      >
        <o-real-input
          attr="volumen_entrada"
          thousand-separator="."
          decimal-separator=","
          max-decimal-digits="2"
          min-decimal-digits="0"
          class="input-padding"
          fxFlex="33.33"
          read-only="yes"
        ></o-real-input>
        <o-real-input
          attr="volumen_salida"
          thousand-separator="."
          decimal-separator=","
          max-decimal-digits="2"
          min-decimal-digits="0"
          class="input-padding"
          fxFlex="33.33"
          read-only="yes"
        ></o-real-input>

        <o-table-column
          attr="balance"
          title="balance"
          type="real"
          decimal-separator=","
          thousand-separator="."
          max-decimal-digits="2"
          class="o-table-column-centered"
          content-align="center"
        ></o-table-column>
      </o-table>
    </div>
  </o-form>
</div>
